// background styles
#background
    width 100%
    height 100vh
    z-index -1

#background.muladhara
    background-color: cd-space-cherry 
#background.svadhistana
    background-color cd-bright-red
#background.manipura
    background-color cd-lemon-tonic
#background.anahata
    background-color cd-island-green
#background.vissudha
    background-color cd-princess-blue
#background.ajna
    background-color cd-royal-purple
#background.sahasrara
    background-color cd-pink-salt
