[submodule "source/statemodule"]
	path = source/statemodule
	url = git@github.com:JhonnyJason/pwa-sources-statemodule.git
[submodule "source/messageboxmodule"]
	path = source/messageboxmodule
	url = git@github.com:JhonnyJason/pwa-sources-messageboxmodule.git
[submodule "source/buttonstylemodule"]
	path = source/buttonstylemodule
	url = git@github.com:JhonnyJason/pwa-sources-buttonstylemodule.git
[submodule "source/qrreadermodule"]
	path = source/qrreadermodule
	url = git@github.com:JhonnyJason/pwa-sources-qrreadermodule.git
[submodule "source/qrdisplaymodule"]
	path = source/qrdisplaymodule
	url = git@github.com:JhonnyJason/pwa-sources-qrdisplaymodule.git
