// systembutton styles
#systemsoundbutton
    position absolute
    top 20px
    right 20px
    width 40px
    height 40px
    box-sizing: border-box
    border solid 5px transparent
    background-color cd-island-green
    cursor pointer

#systemsoundbutton.on
    border solid 5px alpha(cd-princess-blue, 0.9)
