include ../micbuttonmodule/micbutton.pug
include ../systemsoundbuttonmodule/systemsoundbutton.pug
include ../visualizationmodule/visualization.pug
include ../pianomodule/piano.pug
include ../authoritysymbolmodule/authoritysymbol.pug
