include ../backgroundmodule/background.pug
include ../micbuttonmodule/micbutton.pug
#intermediate-layer
    include ../peertopeermodule/peertopeer.pug
    include ../chatmodule/chat.pug
include ../systemsoundbuttonmodule/systemsoundbutton.pug
include ../visualizationmodule/visualization.pug
include ../pianomodule/piano.pug
include ../authoritysymbolmodule/authoritysymbol.pug
