//- piano structure
#piano(tabindex="0")
    //- #key-a.key a
    //- #key-s.key s
    //- #key-d.key d
    //- #key-f.key f
    //- #key-g.key g
    //- #key-h.key h
    //- #key-j.key j
    //- #key-k.key k
    //- #key-l.key l
    //- #key-ö.key ö
    //- #key-ä.key ä
