// piano styles
#piano
    border solid 5px transparent
    box-sizing: border-box
    width: 90%
    height: 100px
    background-color alpha(cd-lemon-tonic, 0.5)
    margin-top 20px
    margin-left auto
    margin-right auto
    cursor: pointer

#piano:focus
    border solid 5px alpha(cd-princess-blue, 0.9)
