@import '../authoritysymbolmodule/styles.styl'
@import '../dancingvirusmodule/styles.styl'
@import '../micbuttonmodule/styles.styl'
@import '../pianomodule/styles.styl'
@import '../visualizationmodule/styles.styl'
