// globalstyles styles

/*==========================================================
Color Theme
==========================================================*/
cd-background = white
cd-flash = purple
cd-foreground = black

cd-royal-purple = #603F83
cd-island-green = #2BAE66
cd-cherry-tomato =  #E94B3C
cd-space-cherry = #990011
cd-cyber-yellow = #FDD20E
cd-bright-red = #F93822
cd-lemon-tonic = #FCF951
cd-princess-blue = #00539C
cd-raspberry-pink = #D64161
cd-pink-salt =  #FAD0C9


/*==========================================================
Global Variables
==========================================================*/
// max-content-width = 900px
// mobile-side-padding = 15px


/*==========================================================
General Tag Styles
==========================================================*/
body
    background-color cd-background
    color cd-foreground
    --color-a: cd-background

    font-family: Arial, Helvetica, sans-serif
    text-align: center
    font-size: 12pt
    height 100vh
    width 100%
    overflow hidden
    transition background 0.5s
h1
    font-size: 17pt
h2
    font-size: 15pt
p
    font-size: 12pt

body.dark
    background-color cd-foreground
    color cd-background
    --color-a: cd-foreground
