// visualization styles
#visuals-canvas
    width 100%
    height 66vh

#cute-virus
    animation red-pulse 1.5s infinite

@keyframes red-pulse
    0%
        color black
    50%
        color #902
    100%
        color black

